<nav class="navbar navbar-expand-lg navbar-dark" id="navbar-head">
  <!-- <div class="container-fluid">
    <img src="/images/logo.png" alt="logo" class="img-logo1">
    <a class="navbar-brand" href="#">Cheongdam Ace Clinic</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">전체보기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">이벤트</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            전후사진
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">전체보기</a></li>
            <li><a class="dropdown-item" href="#">이벤트</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">전후사진</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">병원소개</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">로그인</button> &nbsp; &nbsp;
        <button class="btn btn-outline-success" type="submit">회원가입</button>
      </form>
    </div> 
  </div> -->
</nav>

<style type="text/css">
  #navbar-head {
    background-color: #181818;
  }
  .img-logo1 {
    width: 50px;
    height:50px;
    margin-left: 10px;
    margin-right: 10px;
  }

</style>

