<div class="container" style="height: 100px;">

      <!-- Logo -->
      <a class="logo" href="/">
        <img src="/assets/img/ace.jpeg" alt="Logo" class="img-responsive">
      </a>
      <!-- End Logo -->

<h1>Hello cdaceclinic!</h1>
<% if defined?(PhusionPassenger) %>
  <p>Congratulations, you are running this app in Passenger!</p>
<% else %>
  <p>You are not running this app in Passenger. Please use <code>bundle exec passenger start</code>.</p>
<% end %>



  <%= render 'homes/footer' %>

</div>