<!-- <div style="height: 100px;"> -->

      <!-- Logo -->
      <!-- <a class="logo" href="/"> -->
        <!-- <img src="/images/3.png" alt="Logo1" class="img-responsive"> -->
      <!-- </a> -->
      <!-- End Logo -->

<div class="junbi1">
  <img src="/images/junbi.png" alt="준비중" class="img-junbi">
</div>
<div class="junbi2">
  <img src="/images/logo.png" alt="logo" class="img-logo">
</div>      
<div class="junbi3">
  <img src="/images/logo-cd.png" alt="logo-cd" class="img-logo-cd">
</div>  
<div class="junbi4">
  <img src="/images/logo-cdh.png" alt="logo-cdh" class="img-logo-cdh">
</div>    
<div class="junbi5">
  <img src="/images/map.png" alt="map" class="img-logo-cdh">
</div>  
<div class="junbi6">
  <img src="/images/address.png" alt="address" class="img-logo-cdh">
</div>



<style type="text/css">
  .junbi1 {
    text-align: center;
    margin-top: 7%;
  }
  .junbi2 {
    text-align: center;
    margin-top: 5%;
  }
  .junbi3 {
    text-align: center;
    margin-top: 2%;
  }
  .junbi4 {
    text-align: center;
    margin-top: 0.5%;
  }
  .junbi5 {
    text-align: center;
    margin-top: 3%;
  }
  .junbi6 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
  }



</style>

  <%#= render 'homes/footer' %>

<!-- </div> -->