<div style="height: 100px;">

      <!-- Logo -->
      <a class="logo" href="/">
        <img src="/images/cdaceclinic.jpg" alt="Logo1" class="img-responsive">
      </a>
      <!-- End Logo -->




  <%#= render 'homes/footer' %>

</div>